{% extends "home/base.html" %}
{% block content %}
<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      {% if quiz.teacher == user %}
      <div>
        <a class="btn btn-secondary btn-sm mt-1 mb-1 disable"
           href="#">
          Update <!-- TODO -->
        </a>
        <a class="btn btn-danger btn-sm mt-1 mb-1 disable"
           href="#">
          Delete <!-- TODO -->
        </a>
      </div>
      {% endif %}
      <h2 class="article-title">{{ quiz.title }}</h2>
      <p class="article-content">{{ quiz.description }}</p>
    </div>
  </div>
</article>
{% endblock content %}